{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git",{tag, "2.0.0-pre.4"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {ebus, {git, "git://github.com/cabol/erlbus.git", {branch, "master"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}
]}.